.table {
  border-spacing: 0;
  text-align: center;
  margin: 0 auto;
}

th {
  background: #bcebdd;
  color: white;
  text-shadow: 0 1px 1px #2d2020;
  padding: 10px 110px;
}
th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

td {
  padding: 10px 20px;
  background: #b6d66a;
}

tr {
  transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);

  &:hover {
    transform: scale(1.2);
  }
}
